.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* desktop */
.home {
  background-image: url("https://images.unsplash.com/photo-1592595896551-12b371d546d5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  color: #fff;
}

.home-h1 {
  font-size: 50px;
  font-weight: 700;
  margin-left: 100px;
  text-align: left;
  color: black;
}

.home-p {
  font-size: 20px;
  font-weight: 400;
  margin-left: 100px;
  text-align: left;
}

.home__container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.home__container2 img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.home__container2__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.home__container2__details h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 10px;
}

.home__container2__details p {
  font-size: 15px;
  font-weight: 400;
  margin: 10px;
}

.home__container3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.home__container3__properties {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  border: 3px solid red;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.carousel button {
  font-size: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.home__container3__properties__viewall{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.houses-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.houses__card {
  margin: 10px;
  min-width: 240px;
  max-width: 240px;
}

.carousel__slide{
  width: 100%;
  margin: 1rem;
}

.carousel__slide > img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 30px;
}
